.contact {
  padding: 4rem 1rem;
  text-align: center;
  max-width: 500px;
  margin: auto;

  h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  p {
    color: #777;
    margin-bottom: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  input,
  textarea {
    padding: 0.8rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;

    &:focus {
      outline: none;
      border-color: #e63946;
    }
  }

  button {
    background: var(--secondary-color);
    color: white;
    border: none;
    padding: 0.9rem;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;

    &:disabled {
      background: #ccc;
      cursor: not-allowed;
    }
  }

  .success {
    margin-top: 1rem;
    color: green;
    font-size: 0.9rem;
  }

  .error {
    color: #e63946;
    font-size: 0.8rem;
    text-align: left;
    margin-top: -0.5rem;
  }

}