.header {
  padding: 10px 0;
  box-shadow: 0 2px 10px rgba(163, 163, 163, 0.3);
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 26px;

  span {
    margin-left: 5px;
    font-size: 33px;
    color: #098d1f;
  }

}

.menu-btn {
  background: none;
  border: none;
  color: #000000;
  font-size: 26px;
  cursor: pointer;
  display: none;
}

nav {
  display: flex;
  gap: 16px;

  a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
  }

  a:hover {
    color: #098d1f;
  }
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  nav {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    flex-direction: column;
    padding: 30px 0;

    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;

    transition:
      opacity 0.3s ease,
      transform 0.3s ease;

    a {
      padding-bottom: 12px;
      text-align: center;
      border-bottom: 1px solid #bebdbd;
    }

    a:hover {
      color: #098d1f;
    }
  }

  nav.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}