* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

:root {
    --secondary-color: #098d1f;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
